In [ ]:
COUNT: If you look a little bit further up they have used better formulation:
"COUNT(*) returns the number of rows in a specified table without getting rid of duplicates. It counts each row separately. 
This includes rows that contain null values." 

SUM: SUM treats nulls as 0
    
ARITHMETIC OPERATORS: +, -, *, /
If we have to add values belonging to the same row across different columns then we use arithmetic
operators. But if we have to add multiple rows then we use the aggregator functions: COUNT, SUM, MIN, MAX, AVG
    
AVG:    
1. it can only be used on numerical columns.
2. it ignores nulls completely. 

LIMIT: SQL evaluates the aggregations before the LIMIT clause.

    
WHERE Vs. Having:
The WHERE clause doesn’t allow to filter on aggregate 
columns—that’s where the HAVING clause comes in


So where is applied before Group by 
but Having is applied after Group by and before order by

Order of the clauses
SELECT
FROM
WHERE
GROUP BY
HAVING
ORDER BY

In [ ]:
#What was the highest single-day increase in Apple's share value?
SELECT MAX(close - open)
  FROM tutorial.aapl_historical_stock_price

In [ ]:
#CASE
Write a query that counts the number of 300lb+ players for each of the following regions: 
    West Coast (CA, OR, WA), Texas, and Other (Everywhere else).


SELECT CASE WHEN state IN ('CA', 'OR', 'WA') THEN 'West Coast'
            WHEN state = 'TX' THEN 'Texas'
            ELSE 'Other' END AS region_grouped,
            COUNT(region_grouped) AS num_of_players
FROM benn.college_football_players
WHERE weight >= 300
GROUP BY region_grouped

In [ ]:
Write a query that calculates the combined weight of all underclass players (FR/SO) in 
California as well as the combined weight of all upperclass players (JR/SR) in California.

SELECT CASE WHEN year IN ('FR', 'SO') THEN 'underclass'
            WHEN year IN ('JR', 'SR') THEN 'upperclass'
            ELSE NULL END AS class_group,
SUM(weight) AS combined_player_weight
FROM benn.college_football_players
WHERE state = 'CA'
GROUP BY class_group