In [ ]:
#How many clients have been with the bank for at least 2 years (as of today, the day you do the homework)?
SELECT COUNT(DISTINCT CLIENT_ID) FROM CLIENT WHERE datediff(CURDATE(), CLIENT_SINCE)>=2;

P.S.: the point to note here is that put the bigger date first followed by the smaller one

In [ ]:
How many transactions are there in the TRANSACTION table?

SELECT COUNT(TRAN_AMOUNT) AS number_of_transactions FROM TRANSACTION;

P.S.: COUNT command when applied to count the number of values in a column does not count the null values. This is, btw, applicable
only when counting an individual column values and not the entire records in a table

In [ ]:
To add a column into a table and especially after a particular field in the table

ALTER TABLE transaction
ADD tran_amount INT AFTER date;

In [ ]:
Which client has the largest number of transactions?

SELECT COUNT(tran_amount) AS max_number_of_transactions FROM transaction
GROUP BY client_id
ORDER BY max_number_of_transactions DESC LIMIT 1;

In [ ]:
Which clients have at least 5 ACH transactions ("ACH" is the type of the transaction, included in the description of the transaction)?

SELECT client_id
FROM transaction
WHERE tran_description LIKE "%ACH%"
GROUP BY client_id
HAVING COUNT(tran_description)>=5;

In [ ]:
Produce a list of all clients with their total number of transactions? 

SELECT COUNT(*) AS total_number_transaction, client_id  FROM transaction GROUP BY client_id;

P.S.: it is important to query as count(*) if you want to include null values too in the result

In [ ]:
Select all clients who have a valid email?

This can be done in two ways:
1. Assume an email address is valid if it is not a null value
2. Assume an email address is valid only if it has "%@%"
So the task result depends entirely on the busienss context. In case the business dev team wants to contact potential customers
with discount offers then they might prefer clean email address. So there is a need to clarify for what purpose a query is
being run.

SELECT client_id, first_name, last_name
FROM client
WHERE client_email IS NOT NULL;

In [ ]:
Select the top 3 transactions for each client based on the $ amount (absolute $ amount)? 

SELECT client_id, transact_amount, row_value
FROM
(
SELECT client_id, ABS(tran_amount) AS transact_amount, ROW_NUMBER() OVER (PARTITION BY client_id ORDER BY ABS(tran_amount) DESC) AS row_value
FROM transaction
)tmp
WHERE row_value <= 3;

In [ ]:
Do queries A and B produce the same result and why?

Both the following queries do not provide the same result because when counting an individual column the count statement
ignores the null values. But it involves them while counting the entire table.

A. SELECT COUNT(*) FROM transaction;

B. SELECT COUNT(tran_description) FROM transaction;