In [ ]:
Have to try this by creating table myself

/* Write your T-SQL query statement below */
with x as 
(
    select
    e.departmentid
    ,e.Name
    , e.Salary
    , max(e.salary) over (partition by e.DepartmentId) as 'MaxSalary'
    
    from Employee e

)

select d.name as 'Department'
, x.name as 'Employee'
, x.MaxSalary as 'Salary' 
from x 
join department d on d.id = x.departmentid
where x.Salary = x.Maxsalary;