In [ ]:
Write your MySQL query statement below
1. 

SELECT Temperature FROM Weather
WHERE subdate(RecordDate, 1)


2. 
SELECT id FROM Weather
WHERE Temperature > 1

3. 

SELECT id FROM Weather
WHERE Temperature > (SELECT Temperature FROM Weather
WHERE subdate(RecordDate, 1))
ORDER BY id;

In [ ]:

select w1.Id
from Weather as w1, Weather as w2
where w1.Temperature > w2.Temperature and w1.RecordDate = w2.RecordDate + INTERVAL 1 DAY;

In [ ]:
SELECT w1.Id FROM Weather w1, Weather w2
WHERE w1.Temperature > w2.Temperature AND DATEDIFF(w1.RecordDate, w2.RecordDate) = 1;