In [ ]:
select fog.id1 as id, sum(num1) as num from
(select requester_id as id1, count(accepter_id) as num1 from request_accepted
group by requester_id
 
union all
 
select accepter_id as id1, count(accepter_id) as num1 from request_accepted
group by accepter_id) fog

group by fog.id1
order by num DESC LIMIT 1;

Runtime: 144 ms, faster than 59.87% of MySQL online submissions for Friend Requests II: Who Has the Most Friends.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Friend Requests II: Who Has the Most Friends.

In [ ]:
when you do union what you get?

output of union which I tried earlier
{"headers": ["id1", "num1"], "values": [[1, 2], [2, 1], [3, 1], [3, 2], [4, 1]]}

In [ ]:
Select Top did not work for me

select Top 1 fog.id1, sum(num1) as num from

(select requester_id as id1, count(accepter_id) as num1 from request_accepted
group by requester_id
 
union all
 
select accepter_id as id1, count(accepter_id) as num1 from request_accepted
group by accepter_id) fog

group by fog.id1
order by num DESC;

In [ ]:
Versions I tried before reaching at the correct solution

select requester_id as id, count(distinct accepter_id) as num from request_accepted
group by requester_id
order by num DESC LIMIT 1;


select fog.id1 as id, (fog.num1+humid.num2) as num from
(select requester_id as id1, count(accepter_id) as num1 from request_accepted
group by requester_id) fog
join
(select accepter_id as id2, count(accepter_id) as num2 from request_accepted
group by accepter_id) humid
on fog.id1=humid.id2
order by num DESC LIMIT 1;


For some reason CTEs are not working with the current version of MYSQL on leetcode
With Cat as
(
select requester_id as id1 from request_accepted    
    union all

select accepter_id as id2 from request_accepted 
)

select count(*)
from Cat
where fog.id1=fog.id2
group by fog.id1

In [ ]:
-- Follow up question: In the real world, multiple people could have the same most number of friends, can you find all these people in this case?

I tried this for the follow-up - just tried to spit out the max value 

select MAX(goat.num)
from
(

select sum(num1) as num from

(select requester_id as id1, count(accepter_id) as num1 from request_accepted
group by requester_id
 
union all
 
select accepter_id as id1, count(accepter_id) as num1 from request_accepted
group by accepter_id) fog
    
group by fog.id1
) goat
;

In [ ]:
-- Follow up question: In the real world, multiple people could have the same most number of friends, can you find all these people in this case?

Could not execute this solution as dense_rank does not work in the current version of MYSQL on Leetcode

select id, num, ranking 
from (select id, num, dense_rank() over(order by num desc) as ranking 
from (select requester_id as id, count(*) as num 
from (select requester_id from  request_accepted
      UNION ALL
      select accepter_id from request_accepted) as sub1 
group by requester_id) as sub2) as sub3 
where ranking = 1 ;