In [ ]:
select fog.login_date as login_date, count(fog.user_id) as user_count
from
(
select user_id, min(activity_date) as login_date
from traffic
where activity="login"
group by user_id
) fog

where fog.login_date BETWEEN DATE_SUB('2019-06-30', interval 90 day) and '2019-06-30'
group by fog.login_date;

Runtime: 366 ms, faster than 48.82% of MySQL online submissions for New Users Daily Count.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for New Users Daily Count.

In [ ]:
tried the following:

# select user_id, min(activity_date) as login_date
# from traffic
# where activity="login"
# group by user_id;

# outcome:
# {"headers": ["user_id", "login_date"], "values": [[1, "2019-05-01"], [2, "2019-06-21"], [3, "2019-01-01"], [4, "2019-06-21"], [5, "2019-03-01"]]}


# select t1.user_id, t1.activity_date from traffic t1
# where t1.activity_date <= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and t1.activity="login";


# select activity_date as login_date, user_id from traffic
# where activity_date >= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and activity="login" ;

# select activity_date as login_date, count(distinct user_id) as userid from traffic
# where activity_date >= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and activity="login" 
# group by activity_date
# having userid not in
# (
# select t1.user_id from traffic t1
# where t1.activity_date <= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and t1.activity="login"
# ) 
# ;

In [ ]:
# select activity_date, COUNT(DISTINCT user_id)
# from traffic
# where activity_date >= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and activity="login";

# {"headers": ["activity_date", "COUNT(DISTINCT user_id)"], "values": [["2019-05-01", 4]]}

# {"headers": ["login_date", "user_count"], "values": [["2019-05-01", 1], ["2019-06-21", 2]]}



# to show what the outcome would be if you jsut do the following:
# select activity_date
# from traffic
# where activity_date >= DATE_SUB('2019-06-30', INTERVAL 3 MONTH);

# because it says within at most 90 days the range starts from 2019-03-30 to 2019-06-30

# Output {"headers": ["activity_date"], "values": [["2019-05-01"], ["2019-05-01"], ["2019-05-01"], ["2019-06-21"], ["2019-06-21"], ["2019-06-21"], ["2019-06-21"], ["2019-06-21"], ["2019-06-21"], ["2019-06-21"]]}

# Expected {"headers": ["login_date", "user_count"], "values": [["2019-05-01", 1], ["2019-06-21", 2]]}


# select activity_date
# from traffic
# where activity_date >= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and activity="login";

# as expected there are only four dates

# Output {"headers": ["activity_date"], "values": [["2019-05-01"], ["2019-06-21"], ["2019-06-21"], ["2019-06-21"]]}

# Expected {"headers": ["login_date", "user_count"], "values": [["2019-05-01", 1], ["2019-06-21", 2]]}


# select t.activity_date as login_date, COUNT(t.user_id) as user_count
# from traffic t
# where t.activity="login" and t.user_id IN
# (
# select t1.user_id
# from traffic t1
# where t1.activity_date >= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and t1.activity="login"
# )
# AND t.user_id NOT IN 
# (
# select t2.user_id
# from traffic t2
# where t2.activity_date <= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and t2.activity="login"
# )
# group by t.activity_date
# order by t.activity_date;


# select t1.user_id, t1.activity_date
# from traffic t1
# where t1.activity="login"
# group by t1.user_id
# order by t1.activity_date
 

# where t1.activity_date >= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and t1.activity="login"



# select activity_date as login_date, count(distinct user_id) as userid from traffic
# where activity_date >= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and activity="login" 
# group by activity_date
# having userid not in
# (
# select t1.user_id from traffic t1
# where t1.activity_date <= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and t1.activity="login"
# ) 
# ;


# select t1.user_id, t1.activity_date from traffic t1
# where t1.activity_date <= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and t1.activity="login";


# select activity_date as login_date, user_id from traffic
# where activity_date >= DATE_SUB('2019-06-30', INTERVAL 3 MONTH) and activity="login" ;