In [2]:



select s.product_id, s.year as first_year, s.quantity, s.price
from sales s
join
(
select product_id, MIN(year) as min_year #without selecting product_id here the query would throw an error. just because you know 
#the field exists in the table does not mean that the query automatically knows to select without selecting
    
from sales
group by product_id  
order by year 
) goat
on s.product_id=goat.product_id
where s.year=goat.min_year;


Runtime: 836 ms, faster than 90.85% of MySQL online submissions for Product Sales Analysis III.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Product Sales Analysis III.

In [ ]:
Trials with error: to understand why, check out the difference between output and expected 

select product_id, year as first_year, quantity, price
from sales
group by product_id
order by year LIMIT 1;

Output {"headers": ["product_id", "first_year", "quantity", "price"], "values": [[100, 2008, 10, 5000]]}

Expected {"headers": ["product_id", "first_year", "quantity", "price"], "values": [[100, 2008, 10, 5000], [200, 2011, 15, 9000]]}