In [ ]:
select p1.project_id, p1.employee_id
from project p1
join employee e1 
on p1.employee_id=e1.employee_id
JOIN
(
select p.project_id as pid, e.employee_id as eid, MAX(e.experience_years) as max_exp from project p
join employee e
on p.employee_id=e.employee_id
group by p.project_id
) goat

on p1.project_id=goat.pid
where e1.experience_years=goat.max_exp; 



Runtime: 307 ms, faster than 55.60% of MySQL online submissions for Project Employees III.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Project Employees III.

In [ ]:
The following query using 'WHERE' clause wont work because the subquery returns more than 1 row and so I used JOIN as in the
above query


select p1.project_id, p1.employee_id
from project p1
join employee e1 
on p1.employee_id=e1.employee_id
where e1.experience_years=
(select MAX(e.experience_years) as max_exp from project p
join employee e
on p.employee_id=e.employee_id 
group by p.project_id);

In [ ]:
But the following with 'IN' works


select p1.project_id, p1.employee_id
from project p1
join employee e1 
on p1.employee_id=e1.employee_id
where (p1.project_id, e1.experience_years) IN
(select p.project_id, MAX(e.experience_years) as max_exp from project p
join employee e
on p.employee_id=e.employee_id 
group by p.project_id);

Runtime: 335 ms, faster than 25.50% of MySQL online submissions for Project Employees III.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Project Employees III.

In [ ]:
Same as above but with 'USING' to join the tables. Dont forget to put the column names within brackets while joining the
tables

select p1.project_id, p1.employee_id
from project p1
join employee e1
using (employee_id)
where (p1.project_id, e1.experience_years) IN
(select p.project_id, MAX(e.experience_years) as max_exp from project p
join employee e
using (employee_id)
group by p.project_id);

Runtime: 297 ms, faster than 69.97% of MySQL online submissions for Project Employees III.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Project Employees III.