In [ ]:
i tried this
SELECT    Score,
          @curRank := @curRank + 1 AS Rank
FROM      Score (SELECT @curRank := 1) 
ORDER BY  Score DESC;

In [ ]:
i tried this
SELECT    Score, DENSE_RANK() OVER(order by Score DESC) dr1 AS Rank
FROM      Scores
ORDER BY Score DESC;

In [ ]:
select 
    Score,
    dense_rank() over (order by score desc) As Rank
from Scores
order by score desc;

In [ ]:
This solution here worked:

SELECT  s1.Score, COUNT(DISTINCT s2.Score) AS Rank FROM Scores s1, Scores s2 WHERE s1.Score <= s2.Score GROUP BY s1.Id  ORDER BY s1.Score DESC;


Runtime: 709 ms, faster than 15.21% of MySQL online submissions for Rank Scores.