In [ ]:
MYSQL

To list all the databases
SHOW DATABASES

In [ ]:
to create a database
CREATE DATABASE retention;

In [ ]:
to use a particular database
USE DATABASE retention;

In [ ]:
to create a table
CREATE TABLE actives (userid SMALLINT, date_det TIMESTAMP);

In [ ]:
to insert values into a table
INSERT INTO actives VALUES(3567, '2019-09-19 12:30:45');

In [ ]:
to create a table and initiate the fields
CREATE TABLE signups (userid SMALLINT, action VARCHAR(10),date_joined TIMESTAMP);

In [ ]:
using common table expression to select values in within a week from now (the current date)

with cte1 as ( select count(distinct userid) as active_users, date(date_det) as dateval from actives where date(date_det) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) group by dateval )
select active_users from cte1;

In [ ]:
selecting both active_users, dateval

with cte1 as ( select count(distinct userid) as active_users, date(date_det) as dateval from actives where date(date_det) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) group by dateval )
select active_users, dateval from cte1;

In [ ]:
active_users, dateval and userid

with cte1 as ( select count(distinct userid) as active_users, userid, date(date_det) as dateval from actives where date(date_det) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) group by userid, dateval )
select active_users, userid, dateval from cte1;

In [ ]:
trial 1: trying to get yesterdays values from the week calculated in the previous cells

with cte1 as ( select count(distinct userid) as active_users, userid, date(date_det) as dateval from actives where date(date_det) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) group by userid, dateval ), cte2 as  ( select count(distinct active_users) as previous_users from cte1 where dateval=DATE_SUB(dateval, INTERVAL 1 DAY) )
select previous_users from cte2;

+----------------+
| previous_users |
+----------------+
|              0 |
+----------------+

In [ ]:
Checking how date_sub works for selecting previous day values

with cte2 as  (select distinct(userid) as previous_users from actives where DATE_SUB(date_det, INTERVAL 1 DAY))
    -> select previous_users from cte2;

In [ ]:
made some changes and trying again to select previous day values

with cte1 as ( select count(distinct userid) as active_users, userid, date(date_det) as dateval from actives where date(date_det) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) group by userid, dateval ), cte2 as  (select active_users as previous_users from cte1 where DATE_SUB(dateval, INTERVAL 1 DAY))
    -> select previous_users from cte2;

In [ ]:
counting distinct userids

with cte1 as ( select distinct(userid) as active_users, date(date_det) as dateval from actives where date(date_det) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) group by userid, dateval ), cte2 as (select active_users as previous_users from cte1 where DATE_SUB(cte1.dateval, INTERVAL 1 DAY)) select distinct(previous_users) from cte2;

In [ ]:
counting distinct userids

with cte1 as ( select count(distinct userid) as active_users, userid, date(date_det) as dateval from actives where date(date_det) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) group by userid, dateval ), cte2 as (select count(distinct c1.active_users) as previous_users,a.date_det as date_previous from cte1 as c1, actives a where date(a.date_det)=DATE_SUB(c1.dateval, INTERVAL 1 DAY) group by a.date_det) select previous_users, date_previous from cte2;

In [ ]:
trial adn error: counting distinct userids

with cte1 as ( select count(distinct userid) as active_users, userid, date(date_det) as dateval from actives where date(date_det) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) group by userid, dateval ), cte2 as (select count(distinct c1.active_users) as previous_users,a.date_det as date_previous from cte1 as c1, actives a where date(a.date_det)=DATE_SUB(c1.dateval, INTERVAL 1 DAY) group by a.date_det) select previous_users, date_previous from cte2;
+----------------+---------------------+
| previous_users | date_previous       |
+----------------+---------------------+
|              1 | 2019-09-14 09:34:43 |
|              1 | 2019-09-14 12:32:54 |
|              1 | 2019-09-14 16:17:53 |
|              1 | 2019-09-14 16:43:33 |
|              1 | 2019-09-14 17:19:54 |
|              1 | 2019-09-14 19:13:15 |
|              1 | 2019-09-14 19:19:34 |
|              1 | 2019-09-14 19:23:43 |
|              1 | 2019-09-14 22:32:13 |
|              1 | 2019-09-14 23:43:05 |
|              1 | 2019-09-15 02:15:32 |
|              1 | 2019-09-15 06:05:13 |
|              1 | 2019-09-15 08:11:22 |
|              1 | 2019-09-15 19:18:23 |
|              1 | 2019-09-15 21:21:09 |
|              1 | 2019-09-15 22:32:43 |
|              1 | 2019-09-15 23:32:43 |
|              1 | 2019-09-16 06:03:44 |
|              1 | 2019-09-16 09:17:22 |
|              1 | 2019-09-16 12:43:32 |
|              1 | 2019-09-16 15:55:02 |
|              1 | 2019-09-16 19:18:45 |
|              1 | 2019-09-16 19:34:43 |
|              1 | 2019-09-16 21:23:43 |
|              1 | 2019-09-16 22:32:43 |
|              1 | 2019-09-16 22:34:36 |
|              1 | 2019-09-16 23:16:24 |
|              1 | 2019-09-16 23:54:46 |
|              1 | 2019-09-17 03:04:22 |
|              1 | 2019-09-17 04:03:33 |
|              1 | 2019-09-17 08:43:25 |
|              1 | 2019-09-17 13:08:36 |
|              1 | 2019-09-17 16:05:55 |
|              1 | 2019-09-17 22:13:32 |
|              1 | 2019-09-17 22:45:47 |
|              1 | 2019-09-17 23:24:43 |
|              1 | 2019-09-18 03:44:34 |
|              1 | 2019-09-18 05:34:09 |
|              1 | 2019-09-18 08:43:02 |
|              1 | 2019-09-18 13:04:45 |
|              1 | 2019-09-18 14:06:09 |
|              1 | 2019-09-18 17:03:54 |
|              1 | 2019-09-18 17:08:43 |
|              1 | 2019-09-18 18:23:25 |
|              1 | 2019-09-18 20:33:25 |
|              1 | 2019-09-18 22:54:34 |
+----------------+---------------------+
46 rows in set (0.00 sec)

In [ ]:
summing distinct users on specific dates

with cte1 as ( select count(distinct userid) as active_users, userid, date(date_det) as dateval from actives where date(date_det) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) group by userid, dateval )
    -> select SUM(active_users), dateval from cte1 group by dateval;
+-------------------+------------+
| SUM(active_users) | dateval    |
+-------------------+------------+
|                 6 | 2019-09-15 |
|                 7 | 2019-09-17 |
|                 8 | 2019-09-19 |
|                 7 | 2019-09-16 |
|                 7 | 2019-09-18 |
|                 1 | 2019-09-23 |
+-------------------+------------+