In [ ]:
# select user_id from
# (
# select t1.user_id as userid, t1.activity_date from traffic t1
# where t1.activity="login" and t1.activity_date >= ("2019-06-30"-INTERVAL 90 DAY)
# group by t1.user_id
# ) fog


select fog.activitydate as login_date, count(fog.userid) as user_count
from
(
select t2.user_id as userid, min(t2.activity_date) as activitydate from traffic t2
where t2.activity="login"
group by t2.user_id
) fog
where fog.activitydate between ("2019-06-30"-INTERVAL 90 DAY) and "2019-06-30"
group by fog.activitydate;

# --------------------------------------------------------------------------------
# select t2.user_id as userid, t2.activity_date from traffic t2
# where t2.activity="login"
# group by t2.user_id;

# {"headers": ["userid", "activity_date"], "values": [[1, "2019-05-01"], [2, "2019-06-21"], [3, "2019-01-01"], [4, "2019-06-21"], [5, "2019-03-01"]]}

In [ ]:
select e1.student_id as student_id, min(e1.course_id) as course_id, e1.grade as grade from Enrollments e1
join

(select student_id as std_id, max(grade) as grade
from Enrollments
group by student_id
) fog

on e1.student_id=fog.std_id and e1.grade=fog.grade
group by e1.student_id
order by e1.student_id;

Runtime: 357 ms, faster than 100.00% of MySQL online submissions for Highest Grade For Each Student.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Highest Grade For Each Student.

In [ ]:
New Users Daily Count

Write an SQL query that reports for every date within at most 90 days from today, the number of users that logged in 
for the first time on that date. Assume today is 2019-06-30.

select fog.act_date as login_date, count(fog.userid) as user_count from
(
select t1.user_id as userid, min(t1.activity_date) as act_date from traffic t1
where t1.activity="login"
group by t1.user_id
) fog

where fog.act_date between ("2019-06-30"-INTERVAL 90 DAY) and "2019-06-30"
group by fog.act_date;

Runtime: 495 ms, faster than 9.25% of MySQL online submissions for New Users Daily Count.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for New Users Daily Count.