In [ ]:
Trial/error
# select DATE_FORMAT(t.trans_date, '%Y-%m') AS month, t.country, count(case when t.state="approved" then t.amount as approved_count else 0 end), 
# sum(case when t.state="approved" then t.amount as approved_amount else 0 end),
# from transactions t
# group by month;


# left join chargebacks c
# on t.


# "DATE_FORMAT(now(), '%Y-%m') AS dated_now",

In [ ]:
this solution here is the same as the one below this cell but it did not work. it even gave the same answer; weird!
select left(trans_date, 7) as month, country, 

sum(case when state="approved" then 1 else 0 end) as approved_count,

sum(case when state="approved" then amount else 0 end) as approved_amount,

sum(case when state="0" then 1 else 0 end) as chargeback_count,

sum(case when state="0" then amount else 0 end) as chargeback_mount

from
(
select t.id, t.country, t.amount, t.state, t.trans_date as trans_date from transactions t
where state="approved"
union all
select c.trans_id, t1.country, t1.amount, 0, c.trans_date from transactions t1
join chargebacks c
on t1.id=c.trans_id
) fog
group by month, country;

In [ ]:
already submitted solution to the same problem

SELECT left(trans_date,7) AS month,
country,
SUM(CASE WHEN state = 'approved' THEN 1 ELSE 0 END) AS approved_count,
SUM(CASE WHEN state = 'approved' THEN amount ELSE 0 END) AS approved_amount,
SUM(CASE WHEN state = '0' THEN 1 ELSE 0 END) AS chargeback_count,
SUM(CASE WHEN state = '0' THEN amount ELSE 0 END) AS chargeback_amount
FROM (
SELECT id, country, amount,state, trans_date
FROM Transactions T
WHERE state = 'approved'
UNION ALL
SELECT C.trans_id,T1.country, 0, T1.amount,C.trans_date
FROM Chargebacks C JOIN Transactions T1 ON C.trans_id = T1.id) tbl
GROUP BY month,country
;

In [ ]:
# (
# select left(t1.trans_date, 7) as month, t1.country,
# count(*) as trans_count, sum(t1.amount) as trans_total_amount
# from transactions t1
# group by month, country

# join
    
# select left(t2.trans_date, 7) as month, t2.country,
# count(*) as approved_count, sum(t2.amount) as approved_total_amount
# from transactions t2
# where state="approved"
# group by month, country
    
    

    
select left(trans_date, 7) as month, country, count(*) as trans_count,

sum(case when state="approved" then 1 else 0 end) as approved_count, 

sum(amount) as trans_total_amount, sum(case when state="approved" then amount else 0 end) as approved_total_amount

from transactions
group by month, country;

In [ ]:
select u.user_id as buyer_id, u.join_date, count(fog.order_id) as orders_in_2019
from users u
left join 

(select order_id, buyer_id from orders where left(order_date, 4)="2019") fog

on u.user_id=fog.buyer_id
group by u.user_id;

In [ ]:
select u.user_id as buyer_id, u.join_date, count(fog.order_id) as orders_in_2019
from users u
left join 

(select order_id, buyer_id from orders where left(order_date, 4)="2019") fog

on u.user_id=fog.buyer_id
group by u.user_id;

------------------------------------------------------------------------------------------------

select user_id as buyer_id, join_date, IFNULL(fog.item, 0) as orders_in_2019 from users
left join
(
select buyer_id, count(item_id) as item from orders
where YEAR(order_date)= "2019"
group by buyer_id
) fog
on user_id=fog.buyer_id;

In [ ]:
Article Views II

select distinct(viewer_id) as id from views
group by viewer_id, view_date
having count(distinct article_id)>1;