In [ ]:
I have a table that looks like this:
id   count
1    100
2    50
3    10

I want to add a new column called cumulative_sum, so the table would look like this:
id   count  cumulative_sum
1    100    100
2    50     150
3    10     160
    
    
    SELECT t.id,
         t.count,
         @running_total := @running_total + t.count AS cumulative_sum
    FROM TABLE t
    JOIN (SELECT @running_total := 0) r
ORDER BY t.id

check this link: https://stackoverflow.com/questions/2563918/create-a-cumulative-sum-column-in-mysql