In [ ]:
SELECT MAX(e1.Salary) AS SecondHighestSalary FROM Employee e1 WHERE e1.Salary < (SELECT MAX(Salary) FROM Employee);

Runtime: 146 ms, faster than 47.39% of MySQL online submissions for Second Highest Salary.

In [ ]:
other variations I have tried for the same problem

select CASE WHEN MIN(Salary) AS SecondHighestSalary ELSE NULL END
from 
(
SELECT Salary FROM Employee
order by Salary DESC LIMIT 2
) fog;

In [ ]:
SELECT MAX(e1.Salary) AS SecondHighestSalary FROM Employee e1 WHERE e1.Salary NOT IN (SELECT MAX(Salary) FROM Employee);

Outcome: Runtime: 131 ms, faster than 83.12% of MySQL online submissions for Second Highest Salary.