In [ ]:
Yay! I got it worked!

select distinct(f1.followee) as follower, count(distinct f1.follower) as num
from follow f1
join
follow f2
on f1.followee=f2.follower
group by follower
having num is not null;


Runtime: 536 ms, faster than 11.43% of MySQL online submissions for Second Degree Follower.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Second Degree Follower.

In [ ]:
look, look, look my code is awesome! I did not add distinct the first time and that is why it did not work look like!
It is by far has given the best result in terms of performance

Runtime: 226 ms, faster than 86.19% of MySQL online submissions for Second Degree Follower.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Second Degree Follower.
    
    

select followee as follower, count(distinct follower) as num 
from follow
where followee in (select distinct(follower) from follow)
group by followee
having num >0;

In [ ]:
This alternative solution coded by me works too:
    
    
select distinct(followee) as follower, count(distinct follower) as num from follow
where followee in 
(
select distinct(f1.followee)
from follow f1
join
follow f2
on f1.followee=f2.follower
)
group by followee;

Runtime: 811 ms, faster than 5.02% of MySQL online submissions for Second Degree Follower.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Second Degree Follower.

In [ ]:
The same solution as the one in the immediate cell above, but without distinct in the subquery. Results in boosting the
performance!


select distinct(followee) as follower, count(distinct follower) as num from follow
where followee in 
(
select f1.followee
from follow f1
join
follow f2
on f1.followee=f2.follower
)
group by followee;


Runtime: 406 ms, faster than 21.75% of MySQL online submissions for Second Degree Follower.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Second Degree Follower.

In [ ]:
Alternative solution joining tables twice in separate sub queries. I thought it was super redundant. Looks like the SQL
engine prefers simplicity and the more you not complicate things the better fetching the results take, I think!

select follower, follower_num as num
from (select follower, count(distinct followee) as followee_num from follow group by follower) a
left join (select followee, count(distinct follower) as follower_num from follow group by followee) b
on a.follower = b.followee
where followee is not null
;

Runtime: 310 ms, faster than 74.67% of MySQL online submissions for Second Degree Follower.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Second Degree Follower.

In [ ]:
have tried the following so far

# select followee as follower, count(follower) as num 
# from follow
# where followee in (select distinct(follower) from follow)
# group by followee
# having num >=1;


# select distinct(f1.followee) as follower, count(f1.follower) as num
# from follow f1
# join
# follow f2
# on f1.followee=f2.follower
# group by f1.followee;


# select distinct(followee) as follower, count(follower) as num from follow
# where followee in 
# (
# select distinct(f1.followee)
# from follow f1
# join
# follow f2
# on f1.followee=f2.follower
# )
# group by followee;