In [ ]:
Problem
In social network like Facebook or Twitter, people send friend requests and accept others’ requests as well. Now given two tables as below:

Table: friend_request

sender_id	send_to_id	request_date
1	2	2016_06-01
1	3	2016_06-01
1	4	2016_06-01
2	3	2016_06-02
3	4	2016-06-09
Table: request_accepted

requester_id	accepter_id	accept_date
1	2	2016_06-03
1	3	2016-06-08
2	3	2016-06-08
3	4	2016-06-09
3	4	2016-06-10
Write a query to find the overall acceptance rate of requests rounded to 2 decimals, which is the number of acceptance divide the number of requests.
For the sample data above, your query should return the following result.

accept_rate
0.80
Note:

The accepted requests are not necessarily from the table friend_request. In this case, you just need to simply count the total accepted requests (no matter whether they are in the original requests), and divide it by the number of requests to get the acceptance rate.
It is possible that a sender sends multiple requests to the same receiver, and a request could be accepted more than once. In this case, the ‘duplicated’ requests or acceptances are only counted once.
If there is no requests at all, you should return 0.00 as the accept_rate.
Explanation: There are 4 unique accepted requests, and there are 5 requests in total. So the rate is 0.80.

In [ ]:
select the number of unique accepted requests

select count(distinct(requester_id, accepter_id)) AS accepted_requests

In [ ]:
select the number of unique requests that were sent

select count(distinct(sender_id, send_to_id)) AS requests_sent

In [ ]:
Divide the above two numbers

select(select count(distinct(requester_id, accepter_id)) AS accepted_requests/select count(distinct(sender_id, send_to_id)) AS requests_sent) AS acceptance_rate

In [ ]:
Round the result to 2 decimal places

select(ROUND(select count(distinct(requester_id, accepter_id)) AS accepted_requests/select count(distinct(sender_id, send_to_id)) AS requests_sent, 2)) AS acceptance_rate

In [ ]:
Check if null and if yes then print 0 otherwise the result

select(IFNULL(ROUND(select count(distinct(requester_id, accepter_id)) AS accepted_requests/select count(distinct(sender_id, send_to_id)) AS requests_sent, 2), 0)) AS acceptance_rate

In [ ]:
In social network like Facebook or Twitter, people send friend requests and accept others’ requests as well.

Table request_accepted holds the data of friend acceptance, while requester_id and accepter_id both are the id of a person.

requester_id	accepter_id	accept_date
1	2	2016_06-03
1	3	2016-06-08
2	3	2016-06-08
3	4	2016-06-09
Write a query to find the the people who has most friends and the most friends number. For the sample data above, the result is:

id	num
3	3
Note:

It is guaranteed there is only 1 people having the most friends.
The friend request could only been accepted once, which mean there is no multiple records with the same requester_id and accepter_id value.
Explanation:
The person with id ‘3’ is a friend of people ‘1’, ‘2’ and ‘4’, so he has 3 friends in total, which is the most number than any others.

Analysis
Count the number of each id in both column requester_id and accepter_id, then sort by the number in descending order and output the entry having the maximum number finally.

In [ ]:
Concat column requester_id and column accepter_id as a new column with UNION:
SELECT requester_id AS id FROM request_accepted
UNION ALL
SELECT accepter_id AS id FROM request_accepted

In [ ]:
Then group by id and count the number of each id:
SELECT t.id, COUNT(t.id) AS num FROM
(SELECT requester_id AS id FROM request_accepted
 UNION ALL
 SELECT accepter_id AS id FROM request_accepted) AS t
GROUP BY t.id

In [ ]:
Finally, sort by the number of each id in descending order and output the first entry:
SELECT t.id, COUNT(t.id) AS num FROM
(SELECT requester_id AS id FROM request_accepted
 UNION ALL
 SELECT accepter_id AS id FROM request_accepted) AS t
GROUP BY t.id
ORDER BY num DESC LIMIT 1;