In [ ]:
-- table name: user
user_id    registration_time        activation_time        business_account
1          2012-01-01 08:00:00      2012-01-01 08:04:00         1
2          2012-01-01 18:02:50      2012-01-03 20:15:32         0
3          2012-01-02 09:58:03      nul1                        0
:
:

-- table name: payment
payement_id payment_time            user_id    transaction_amount  
1           2017-08-31 08:00:00      1234       3100.50            
2           2018-02-01 18:02:50      1234       180.15             
3           2019-01-31 09:58:03      2098       6000.00            
:


----------------------------------------------------------------------------------------------------------------------------------------------------------------------
Q1: Please report the annual counts of account registered and account activated split by business vs. consumer since 2012.

1.counts of account registered
2.counts of account activated
3. filter by 2012
4. business and consumer (1-business; 0 consumer)


select count(registration_time) as account_registered, count(activation_time) as account_activated from user
where Left(registration_time, 4)="2012" and Left(activation_time, 4)="2012"
group by business_account;

select sum(case when registration_time is null 0 else 1 end) as account_registered, sum(case when activation_time is null 0 else 1 end) as account_activated from user
where Left(registration_time, 4)="2012" and Left(activation_time, 4)="2012"
group by business_account;

----------------------------------------------------------------------------------------------------------------------------------------------------------------------

Q2: How many users that registered since 2012 have made more than $10,000 worth of transactions?

1. count distinct since 2012
2. >=10000
3. join on user_id (join)
4. registration_time >= 2012


select count(distinct u.user_id) as users_since_2012 from user u
join
payment p
on u.user_id=p.user_id
where left(u.registration_time, 4) >= "2012"
group by u.user_id
having p.transaction_amount >= 10000

-----------------------------------------------------------------------------------

select count(fog.user_id) as users_since_2012
(
select u.user_id from  user u
join
payment p
on u.user_id=p.user_id
where left(u.registration_time, 4) >= "2012"
group by u.user_id
having sum(p.transaction_amount) >= 10000
);