In [ ]:
To swap two columns in a table
UPDATE salary SET x=y, y=@temp WHERE (@temp:=x) IS NOT NULL;

In [ ]:
To swap two values in a column

UPDATE salary
SET sex = CASE WHEN sex = 'm' THEN 'f' 
                  WHEN sex = 'f' THEN 'm' END
WHERE sex IN ('m','f');