In [ ]:
select goat.book_id, goat.name from
(
select * from books b
where b.available_from < DATE_SUB('2019-06-23', INTERVAL 1 MONTH) 
) goat

where goat.book_id not in

(select book_id from orders where dispatch_date >= '2018-06-23' group by book_id having sum(quantity) >= 10);


Runtime: 521 ms, faster than 82.16% of MySQL online submissions for Unpopular Books.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Unpopular Books.

In [ ]:
# have tried:
    
    

select b.book_id, b.name from books b
# join orders o
# on b.book_id=o.book_id
# where b.available_from > DATE_SUB('2019-06-23', INTERVAL 1 MONTH);
where DATEDIFF(b.available_from, DATE('2019-06-23'))> 30;
and o.quantity < 10 and YEAR(o.dispatch_date)='2019';

-------------------------------------------------------------------------------------------------------------

select b.book_id, b.name from books b
join orders o
on b.book_id=o.book_id
where b.available_from < DATE_SUB('2019-06-23', INTERVAL 1 MONTH) 
and o.quantity < 10 and YEAR(o.dispatch_date) = '2019';
Output: {"headers": ["book_id", "name"], "values": []}

-------------------------------------------------------------------------------------------------------------

select goat.book_id, goat.name from
(
select * from books b
where b.available_from < DATE_SUB('2019-06-23', INTERVAL 1 MONTH) 
) goat

left join
orders o
on goat.book_id=o.book_id

group by goat.book_id;
having sum(o.quantity) < 10;

output: {"headers": ["book_id", "name"], "values": [[1, "Kalila And Demna"], [2, "28 Letters"], [3, "The Hobbit"], [4, "13 Reasons Why"], [5, "The Hunger Games"]]}

expected: {"headers":["book_id","name"],"values":[[1,"Kalila And Demna"],[2,"28 Letters"],[3,"The Hobbit"],[5,"The Hunger Games"]]}