In [ ]:

select d.name AS Department,e.name AS Employee, e.Salary As Salary
from Employee e
join Department d
on e.DepartmentId=d.Id
where (e.DepartmentId, e.Salary) in
(
select DepartmentId, MAX(Salary) from Employee
group by DepartmentId
);

Runtime: 306 ms, faster than 69.31% of MySQL online submissions for Department Highest Salary.

In [ ]:
I also tried window function, but could not execute it as the MYSQL version on Leetcode did not support window function

not sure whether order by necessary inside OVER

SELECT d.Name, e.Name, MAX(e.Salary) OVER(PARTITION BY DepartmentId ORDER BY e.Salary) AS Salary
FROM Employee e
Join Department d
on e.DepartmentId=d.Id;