In [ ]:
In order to use UNION on two tables:

The following are basic rules for combining the result sets of two queries by using UNION:

The number and the order of the columns must be the same in all queries.
The data types must be compatible.

In [ ]:
Then how we could do this?

Alternative solution 1:
    
A workaround will be to create a row number using window funciton in Common Table Expressions and then 
full outer join the tables with uncommon columns.

Example:
    
Let us consider the following tables:

product:              customer:
+----+----------+   +-----+------+
| id | descrip  |   | id | name |
+----+----------+   +-----+------+
|  1 | Sprocket |   | 100 | Bob  |
|  2 | Flange   |   | 101 | Paul |
+----+----------+   +-----+------+
    
The two tables do not have any common columns but the question is how we merge these two tables?
    
    
with product1 as
(
Select *, row_number() over(order by p.id) as rownum
    from product p
),

customer1 as
(
Select *, row_number() over(order by c.id) as rownum
    from customer c
)

Select * from product1 
full outer join
customer1
on product1.rownum=customer1.rownum;

In [ ]:
Alternative solution 2: Lets use union to accomplish the task. Caution: you wont get the result of two tables side by
side as there will be null values in the two tables obviously because of uncommon fields.
    
but using CTEs and row_number solution in the cell above is the way to go!
    
select p.id as product_id, p.descrip as description, null as customer_id, null as customer_name from product p
UNION
select null as product_id, null as description, c.id as customer_id, c.name as customer_name from customer c;


outcome will be like:

product_id   description     customer_id   customer_name
    ---       ----             ---            ----
                               101            Bob 
                               102            Paul
    1        Sprocket
    2        Flange

In [ ]:
Which situations you think we might need to combine two tables with uncommon fields/columns?

1. In case of establishing a relationship between new data and historical data by implementing a foreign key constraint 
between the two tables whose only common field was the id on a one-many relationship. So we combine the two tables 
so the field can be made unique and non-nullable moving forward.

2. Business logic changes and so new relationships have to be established.