In [ ]:
You are managing a small newspaper subscription service. Anyone who uses it can subscribe to a large number of 
different newspapers for a full year or just a half year.

The information about subscriptions is stored in the full_year and half_year tables, which have the following 
structures:

full_year:
id: the unique subscription ID;
newspaper: the newspaper's name;
subscriber: the name of the subscriber.

half_year
id: the unique subscription ID;
newspaper: the newspaper's name;
subscriber: the name of the subscriber.

Given the full_year and half_year tables, compose the result as follows: The resulting table should have one 
column subscriber that contains all the distinct names of anyone who is subscribed to a newspaper with the word Daily 
in its name. The table should be sorted in ascending order by the subscribers' first names.

Example

The following tables full_year

id	newspaper	subscriber
1	The Paragon Herald	Crissy Sepe
2	The Daily Reporter	Tonie Moreton
3	Morningtide Daily	Erwin Chitty
4	Daily Breakfast	Tonie Moreton
5	Independent Weekly	Lavelle Phu

and half_year

id	newspaper	subscriber
1	The Daily Reporter	Lavelle Phu
2	Daily Breakfast	Tonie Moreton
3	The Paragon Herald	Lia Cover
4	The Community Gazette	Lavelle Phu
5	Nova Daily	Lia Cover
6	Nova Daily	Joya Buss

the output should be

subscriber
Erwin Chitty
Joya Buss
Lavelle Phu
Lia Cover
Tonie Moreton

In [ ]:
Trial using outer join and reason why it does not work

select distinct(subscriber)
full_year f outer join half_year h
on f.newspaper=h.newspaper
where f.newspaper LIKE "%Daily%" and h.newspaper LIKE "%Daily%"
order by subscriber;

The reason why this query wont fetch the results we need:
An outer join is used to return results by combining rows from two or more tables. But unlike an inner join, 
the outer join will return every row from one specified table, even if the join condition fails.

In [ ]:
Submission solution:
    
select distinct(subscriber) as subscriber from full_year f where f.newspaper LIKE "%Daily%"
union
select distinct(subscriber) as subscriber from half_year h where h.newspaper LIKE "%Daily%"
order by subscriber;

In [ ]:
Union Vs. UnionAll

The UNION command combines the result set of two or more SELECT statements (only distinct values).

The UNION ALL command combines the result set of two or more SELECT statements (allows duplicate values).