In [ ]:

Emp_id	Emp_First_name	Emp_Last_Name	Dept_id	Date_of_joining	Salary
12345	Aniket	Kumar	123	1/1/2019	10000
23456	Durganath	Gijupalli	234	2/1/2020	20000
34567	Pavan	Ravuri	345	3/1/2020	30000
45678	Srinivas	Maddamsetty	456	4/1/2020	35000
56789	Sunil	surapaneni	123	5/1/2018	40000
67890	Srikanth	mandava	678	6/1/2020	45000
78901	Mallikarjun	Mavaluru	789	7/1/2020	50000
89012	Chandra	Nakka	456	8/1/2020	55000
90123	Kalyan	Bhavanasi	901	9/1/2020	60000
					
					
        
        
Dept_Id	Dept_name				
123	Chemistry				
234	Physics				
345	Mathematics				
456	English				
567	Computers & science				
678	Economics				
789	Legal				
890	Science				
901	Spanish				
124	Latin

In [ ]:
1.To find employee with the max salary

select Emp_First_name from Employee
group by dept_name
order by salary desc limit 1;

In [ ]:
2. To find employees with top three salaries

select Emp_First_name from Employee
group by dept_name
order by salary desc limit 3;

In [ ]:
3. To find employee with the max salary instead of using order by and limit:
    
select Emp_First_name, dense_rank over (partition by dept_name order by salary desc) as rank
from Employee
where rank=1;

In [ ]:
4. To find employees with top three salaries instead of using order by and limit:
    
with cte1 as 
(
Select emp_name, dense_rank over (partition by dept_name order by salary desc) as rank
from Employee
)

Select emp_name as name
From cte1
Where rank <=3;

In [ ]:
5. Max salary per department


select emp_id, emp_name, fog.dept_name
from table1
where (dept_id, salary) in

(
select dept_name, dept_id, max(salary) 
from table1 
inner join table2
using dept_id
group by dept_name
) fog;

In [ ]:
6. What are some of the ways to select distinct records from a table?
1.Select distinct
2.Select distinct by selecting duplicates in a subquery and checking the distinct ids are not in the duplicates
3.Union â€“ return distinct values