In [ ]:

Julia asked her students to create some coding challenges. Write a query to print the hacker_id, name, and the total 
number of challenges created by each student. Sort your results by the total number of challenges in descending order. 
If more than one student created the same number of challenges, then sort the result by hacker_id. If more than one 
student created the same number of challenges and the count is less than the maximum number of challenges created, 
then exclude those students from the result.

Input Format

The following tables contain challenge data:

Hackers: The hacker_id is the id of the hacker, and name is the name of the hacker. 
    
Challenges: The challenge_id is the id of the challenge, and hacker_id is the id of the student who created the 
challenge.

In [ ]:
This query in MS SQL Server, but recent version of MYSQL supports Common Table Expressions


with num_challenges as
(
SELECT c.hacker_id as id, h.name as name, count(c.hacker_id) as count_challenges
FROM Hackers h
JOIN Challenges c on c.hacker_id = h.hacker_id
GROUP BY c.hacker_id, h.name
)


SELECT id, name, count_challenges
FROM num_challenges
WHERE

count_challenges=(SELECT max(count_challenges) FROM num_challenges)

OR

count_challenges in 

(SELECT count_challenges FROM num_challenges
GROUP BY count_challenges
HAVING count(count_challenges)=1 )


ORDER BY count_challenges desc, id;