In [ ]:
Table: Sales
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| sale_id      | int     |
| product_name | varchar |
| sale_date    | date    |
+--------------+---------+
sale_id is the primary key for this table.
Each row of this table contains 
the product name and the date it was sold.

Since table Sales was filled manually in the year 2000, product_name may contain leading and/or trailing white spaces, 
also they are case-insensitive.

Write an SQL query to report

product_name in lowercase without leading or trailing white spaces.
sale_date in the format ('YYYY-MM')
total the number of times the product was sold in this month.
Return the result table ordered by product_name in ascending order, in case of a tie order it by sale_date in ascending order.

The query result format is in the following example.

Sales
+------------+------------------+--------------+
| sale_id    | product_name     | sale_date    |
+------------+------------------+--------------+
| 1          |      LCPHONE     | 2000-01-16   |
| 2          |    LCPhone       | 2000-01-17   |
| 3          |     LcPhOnE      | 2000-02-18   |
| 4          |      LCKeyCHAiN  | 2000-02-19   |
| 5          |   LCKeyChain     | 2000-02-28   |
| 6          | Matryoshka       | 2000-03-31   | 
+------------+------------------+--------------+

Result table:
+--------------+--------------+----------+
| product_name | sale_date    | total    |
+--------------+--------------+----------+
| lcphone      | 2000-01      | 2        |
| lckeychain   | 2000-02      | 2        | 
| lcphone      | 2000-02      | 1        | 
| matryoshka   | 2000-03      | 1        | 
+--------------+--------------+----------+

In January, 2 LcPhones were sold, 
please note that the product names are 
not case sensitive and may contain spaces.
In Februery, 2 LCKeychains and 1 LCPhone were sold.
In March, 1 matryoshka was sold.

In [ ]:
First attempt

select lcase(trim(product_name)) as product_name, , as sale_date, count(*) as total
from Sales
where sale_date=LEFT(sale_date, 7)
group by sale_date, product_name
order by product_name, sale_date

In [ ]:
Solution

Why is it necessary to select the trimmed and lowercase converted product_name and sale_date in a separate select?
Because it is not possible to use what you are selecting if the selected columns have to be altered at the same time.
what does it mean: LCPHONE is not the same as LCPhone for example. Therefore it is important to make all the changes and 
then use the changes columns for selection purposes. I am not sure whether LEFT(sale_date, 7) in the select statement can 
also be used in the group by statement.

select fog.pname as product_name, fog.s_date as sale_date, count(*) as total

(
select lcase(trim(product_name)) as pname, LEFT(sale_date, 7) from Sales as s_date
) fog

group by fog.s_date, fog.pname
order by fog.pname, fog.s_date;