In [ ]:
Write a SQL query to get the nth highest salary from the Employee table.

+----+--------+
| Id | Salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+

For example, given the above Employee table, the nth highest salary where n = 2 is 200. If there is no nth highest 
salary, then the query should return null.

+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+

In [ ]:
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
    RETURN (
        /* Write your T-SQL query statement below. */
        SELECT Salary FROM 
        (
            SELECT
                row_number() OVER (ORDER BY salary DESC) AS row_num,            
                emp.salary
            FROM (SELECT DISTINCT Salary FROM Employee) emp
        ) result
        WHERE row_num = N        
    );
END

result:
Runtime: 360 ms, faster than 65.91% of MySQL online submissions for Nth Highest Salary.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Nth Highest Salary.