In [ ]:
In social network like Facebook or Twitter, people send friend requests and accept others requests as well.

Table request_accepted
+--------------+-------------+------------+
| requester_id | accepter_id | accept_date|
|--------------|-------------|------------|
| 1            | 2           | 2016_06-03 |
| 1            | 3           | 2016-06-08 |
| 2            | 3           | 2016-06-08 |
| 3            | 4           | 2016-06-09 |
+--------------+-------------+------------+
This table holds the data of friend acceptance, while requester_id and accepter_id both are the id of a person.
 

Write a query to find the people who has most friends and the most friends number under the following rules:

It is guaranteed there is only 1 people having the most friends.

The friend request could only been accepted once, which mean there is no multiple records with the same requester_id 
and accepter_id value.

For the sample data above, the result is:

Result table:
+------+------+
| id   | num  |
|------|------|
| 3    | 3    |
+------+------+
The person with id '3' is a friend of people '1', '2' and '4', so he has 3 friends in total, which is the most number 
than any others.

Follow-up:
In the real world, multiple people could have the same most number of friends, can you find all these people in this 
case?

In [ ]:
Trial - not a correct solution

select id, tot1+tot2 as num

(
select r1.requester_id as r_id, count(r1.accepter_id) as tot1
from request_accepted r1
group by r1.requester_id
) fog

outer join

(
select r2.accepter_id as a_id, count(r2.requester_id) as tot2
from request_accepted r2
group by r2.accepter_id
) cloud


groupby id
order by num desc limit 1

In [ ]:
This is the correct solution


select id, count(*) as num_friends from
(
select requester_id as id from request_accepted
union all
select accepter_id as id from request_accepted
) fog
group by fog.id
order by num_friends desc limit 1;