In [ ]:
The Employee table holds all employees. Every employee has an Id, a salary, and there is also a column for the 
department Id.

+----+-------+--------+--------------+
| Id | Name  | Salary | DepartmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |
+----+-------+--------+--------------+
The Department table holds all departments of the company.

+----+----------+
| Id | Name     |
+----+----------+
| 1  | IT       |
| 2  | Sales    |
+----+----------+
Write a SQL query to find employees who have the highest salary in each of the departments. For the above tables, 
your SQL query should return the following rows (order of rows does not matter).

+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Max      | 90000  |
| IT         | Jim      | 90000  |
| Sales      | Henry    | 80000  |
+------------+----------+--------+

Explanation:
Max and Jim both have the highest salary in the IT department and Henry has the highest salary in the Sales department.

In [ ]:
Why join twice you might ask? Well if we just do the inner join it wont return the correct answer, meaning it wont 
return all the employee names matching with the max salary and thats why we do the join in the outer loop.

select fog.Department as Department, e1.name as Employee, e1.Salary as Salary
from employee e1
join
(
select e.name, max(e.Salary) as sal, d.name as Department
from employee e
join department d
on e.DepartmentId=d.Id
group by e.DepartmentId
) fog
on e1.DepartmentId=fog.Id
where e1.Salary=fog.sal;